<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">

    <title>Podiatry</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Family Foot Health Specialists<small>Jerry H. Langford DPM</small><small>Fellow
                    - American College of Foot and Ankle Surgeons</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="problems.html">Common Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resources.html">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="policies.html">Office Policies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">About Family Foot Health Specialists</h1>
                <p class="card-text">Family Foot Health Specialists was started in 1984 by Dr. Jerry Langford to
                    provide comprehensive
                    foot and ankle care for the entire family – from the young to the elderly. FFHS started in East
                    Memphis and is now located in Collierville. </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">What is a Podiatrist?</h2>
                <p class="card-text">Dr. Jerry Langford is a Doctor of Podiatric Medicine – a podiatrist. Podiatrists
                    are physicians
                    whose years of medical training have focused on preventing, diagnosing and treating all foot and
                    ankle disorders. Podiatrists hold one of four medical degrees that allow them, by law, to treat
                    human problems by means of medicine, and/or surgery (M.D., D.O., D.P.M., and D.D.S.)</p>
                <p class="card-text">A podiatrist’s medical training is equivalent to that of other Specialists (ie.
                    four years of
                    college education followed by four years of medical training in an accredited college of podiatric
                    medicine). Post-graduate surgical training (Residency) involves an additional one to three years.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">About Dr. Langford</h2>
                <p class="card-text">Dr. Langford received his degree from the Pennsylvania College of Podiatric
                    Medicine where he
                    graduated in the top ten of his class. He completed a three-year surgical residency in foot and
                    ankle surgery at Doctors Hospital, Tucker, Georgia and is a faculty member of the Podiatry
                    Institute in Atlanta. He attended the internationally acclaimed Swiss Association for the Study of
                    Internal Fixation course held in Davos, Switzerland to learn their world reknown methods of
                    treating fractures. He regularly attends conferences and seminars to keep current with the latest
                    developments in foot and ankle healthcare. </p>
                <p class="card-text">Dr. Langford has had various articles published in medical journals, was a
                    contributing author to a
                    medical textbook on pediatric reconstructive foot surgery, and has lectured widely on foot and
                    ankle surgery. Dr. Langford is a Diplomate of the American Board of Podiatric Surgery and has
                    served the Board as an oral examiner and as a member of the credentials committee. He is a Fellow
                    of the American College of Foot and Ankle Surgeons and currently sits on the Board of Directors of
                    Division XIV of the College, which includes Georgia, Alabama, Mississippi, Tennessee and North and
                    South Carolina. Dr. Langford is an active member of the State and National Podiatry Associations
                    and is the immediate past president of the Memphis Podiatry Association.</p>
            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>