<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">

    <title>Podiatry</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Family Foot Health Specialists</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="problems.html">Common Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="resources.html">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="policies.html">Office Policies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Common Foot Problems</h1>
                <p class="card-text">Dr. Langford treats foot and ankle problems for people of all ages, from infants
                    to the elderly. Anyone experiencing warning signs such as pain, redness, swelling, cramping,
                    numbness, itching, burning or abnormal shoe wear should be examined by a podiatrist. Chronic
                    conditions that once meant years of pain, inconvenience and expense, can now be corrected or
                    controlled. </p>
                <p class="card-text">For more information on these common foot problems please refer to the Family Foot
                    Health Specialists' <a href="resources.html">Resource Page</a></p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Common Foot Problems Treated By Dr. Langford</h2>
                <div class="list-card-block">
                    <div class="list-card-inline">
                        <div class="card-header">Reconstructive Foot Surgery</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Bunions</li>
                            <li class="list-group-item">Hammertoes</li>
                            <li class="list-group-item">Heel Pain</li>
                            <li class="list-group-item">Flat Feet</li>
                            <li class="list-group-item">Cavus Feet (high arch)</li>
                            <li class="list-group-item">Club Feet</li>
                            <li class="list-group-item">Birth Defects</li>
                            <li class="list-group-item">Tumor/Masses</li>
                            <li class="list-group-item">Fractures (broken bones)</li>
                        </ul>
                    </div>

                    <div class="list-card-inline">
                        <div class="card-header">Children's Deformities</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Gait Problems (walking)</li>
                            <li class="list-group-item">Intoe/Outtoe</li>
                            <li class="list-group-item">Flat Feet</li>
                            <li class="list-group-item">Birth Defects</li>
                        </ul>
                        <div class="card-header">Sports Medicine</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Foot/Ankle Sprains</li>
                            <li class="list-group-item">Foot/Ankle Fractures</li>
                            <li class="list-group-item">Jogger's/Runner's Syndromes</li>
                        </ul>
                    </div>

                    <div class="list-card-inline">
                        <div class="card-header">Dermatology</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Ingrown Nails</li>
                            <li class="list-group-item">Fungus/Bacterial Nail Infections</li>
                            <li class="list-group-item">Athlete's Feet</li>
                            <li class="list-group-item">Skin Problems</li>
                            <li class="list-group-item">Soft Tissue Infections</li>
                        </ul>
                        <div class="card-header">Vascular Problems</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Swelling</li>
                            <li class="list-group-item">Cramping</li>
                            <li class="list-group-item">Discoloration</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>