<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">

    <title>Podiatry</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Family Foot Health Specialists<small>Jerry H. Langford DPM</small><small>Fellow
                    - American College of Foot and Ankle Surgeons</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="problems.html">Common Problems</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="resources.html">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="policies.html">Office Policies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="container">
        <h1>Family Foot Health Specialists Resources</h1>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><a href="https://www.acfas.org">The American College of Foot and Ankle Surgeons</a></h2>
                <p class="card-text">The American College of Foot and Ankle Surgeons is the professional organization
                    for podiatric surgeons, doctors of podiatric medicine (DPM) who are graduates of four-year
                    podiatric medical colleges and have completed surgical residencies. The organization was
                    established to develop surgical standards for the care of the foot and ankle, to sponsor research,
                    and to conduct continuing education. Providing education to consumers on topics relating to foot
                    health, foot and ankle deformities and injuries, care of the diabetic foot, and foot and ankle
                    disorders caused by arthritis, aging, trauma and sports injuries, as well as congenital deformities
                    and disease, is a key element of the College’s mission.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><a href="https://www.apma.org">The American Podiatric Medical Association</a></h2>
                <p class="card-text">The American Podiatric Medical Association is the premier
                    professional organization representing the nation's Doctors of Podiatric Medicine
                    (podiatrists). The APMA represents approximately 80 percent of the podiatrists in the country.
                    Within APMA's umbrella of organizations are 53 component societies in states and other
                    jurisdictions, as well as 22 affiliated and related societies.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><a href="https://www.abfas.org">The American Board of Foot and Ankle Surgery</a></h2>
                <p class="card-text">The purpose of ABFAS is to serve the best interest of the public and medical
                    profession by evaluating the initial and continuing qualifications of podiatric surgeons. The board
                    reviews the credentials of voluntary candidtes, conducts oral and written examinations, and issues
                    certificates.</p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><a href="https://www.tnpodiatry.org">The Tennessee Podiatric Medical Association</a></h2>
                <p class="card-text">Here you will find patient information about your own foot health, we will assist
                    you in finding a Podiatrist close to where you live and even more helpful tips and informative
                    nuggets about your foot health. The information placed on this site is in no way intended to
                    replace a physical physician visit. A history and physical examination is necessary when diagnosing
                    any foot ailment or disease.</p>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>